.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.this {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.tc-primary {
    color: $primary;
}

.tc-success {
    color: $success;
}

.tc-danger {
    color: $danger;
}

.tc-warning {
    color: $warning;
}

.tc-dark {
    color: $dark;
}